
.card-container {
  width: 20em;
  height: 30em;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1F2937;
  border-radius: 40px;
}

.card-container img {
  padding: 40px;
  border-radius: 60px;
}
